.box {
    container-type : inline-size;
    padding: 50px;
}

@container (min-width: 300px) {
    .box p {
        font-size: 20px
    }
}

@container (min-width: 800px){
    .box p {
        font-size:30px
    }
}