.box {
    container-type : inline-size;

}

main {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
main>* {
	flex-grow: 1;
}

main > aside {
    flex-basis: 10ch;
    flex-grow: 1;

}

main .box {
	flex-basis: 40ch;
	flex-grow: 5;
}

