.button {
    display: inline-block;
    border-radius: var(--radius);
    text-decoration: none;
    cursor: pointer;
    font-family: var(--secondary-font);


    font-size: var(--typo--1);
}


.button.xs {
    padding: var(--space-3xs);
    font-weight: 100;
}


.button.small {
    /* margin-bottom: var(--space-xs); */
    padding: var(--space-s);
    margin: var(--space-2xs);


}

/*définir la grosseur du button */
.button.medium {
    padding: var(--space-s);
    font-size: var(--typo-0);
    text-transform: uppercase;
}

.button.large {
    padding: var(--space-l);
    font-size: var(--typo-0);
}

.button.xl {
    padding: var(--space-xl);
}

.button.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*définir la couleur du button primaire ou secondaire*/
.button.primary {
    background-color: var(--main-color);
    color: var(--light-golden);
}

.button.primary:hover {
    background-color: var(--light-green);
    color: var(--main-color);
}

.button.secondary {
    background-color: var(--secondary-color);
    color: var(--main-color);

}

.button.secondary:hover {
    background-color: var(--main-color);
    color: var(--light-green);
}

.button.third {
    background-color: var(--light-blue);
    color: var(--main-color);

}

.button.third:hover {
    background-color: var(--main-color);
}

.button.fourth {
    background-color: var(--light-green);
    color: var(--main-color);

}

.button.fourth:hover {
    background-color: var(--golden);
}

/* Sur épaisseur */
.button-double {
   background-color: var(--light-golden);
}

