.dropdown {
    position: relative;
}

.dropdown:hover {
    background-color:var(--secondary-color);
}

.dropdown div {
    display: block;
    text-transform: capitalize;
    font-size: var(--typo--1);
    list-style: disc;
}

.dropdown div {
    position: absolute;
    top: 100%;
    width: max-content;
    max-width: 20ch;
    display: block;
    padding: 5px;
}
/* annule la spécificité */
.dropdown:not(:hover) > div {
    pointer-events: none;
    opacity: 0;
}

/* .dropdown div * {
    display: block;
} */