.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    font-size: var(--typo--2);
    align-items: center;
    cursor: pointer;
}


.dropdown:hover {
    background-color:var(--secondary-color);
    border-radius: var(--radius);
    padding: 0 1px;
}

.dropdown div {
    display: block;
    text-transform: uppercase;
    font-size: var(--typo--1);
    /* list-style: disc; */
    text-decoration: none;
}

.dropdown div {
    position: absolute;
    top: 100%;
    /* left: 0; */
    width: max-content;
    max-width: 20ch;
    display: block;
    padding: var(--space-l);
    background-color: var(--main-color);
}


.dropdown div a:hover {
    color: var(--redish);
}

/* annule la spécificité */
.dropdown:not(:hover) > div {
    pointer-events: none;
    opacity: 0;
}

/* .dropdown div * {
    display: block;
} */