.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-l);
    justify-content: space-around;
    background-color: var(--green);
    padding: var(--space-2xl);
}

.footer > section {
    display: flex;
    flex-direction: column;
    
}

.footer > section > div {
    display: flex;
    flex-direction: column;
}