.main-navigation {
    container-type: inline-size;
    background-color: var(--primary-color);
}



/*Plus petit que 600*/
@container (max-width: 600px) {

    /* comportement quand on clic entre afficher et fermer*/
    .main-navigation [type="checkbox"]:not(:checked)+div {
    pointer-events: none;
    opacity: 1;
    }


    }



/* Plus grand que 600 */
@container (min-width: 600px) {
    .trigger {
        display: none;
    }
    

}