.main-navigation {
    container-type: inline-size;

}

/*Plus petit que 800*/
@container (max-width: 800px) {
    .main-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        opacity: 0;
        pointer-events: none;
    }


}

@container (min-width: 800px) {
    .trigger {
        display: none;
    }

}