/* navigation.css ---------------------------
    composante de navitation */


    .navigation {
        display: flex;
        gap: var(--space-m);
        z-index: 3;
        align-items: center;
        padding: var(--space-xs) var(--space-m);
        position: sticky;
        top: 0;
        background-color: var(--main-color);
        font-family: var(--secondary-font);
        color: var(--light-golden);
        /* text-transform: uppercase; */
        /* font-weight: bold; */

    }

    .navigation .logo {
        display: block;
        width: var(--logo);
    }

    .navigation .menu-action{
        display: flex;
        margin-left: auto;
        gap: var(--space-l);
        align-items: center;
    }
    
    .navigation .connexion {
        display: flex;
        flex-direction: column;
    }
    
    /* liens */
    .navigation a {
        display: block;

    }

    .navigation [id="enchere"] {
        align-self: center;
    }
    /* .navigation [id="enchere"]:hover {
        color: var(--redish);
        padding: var(--space-3xs);
    } */
    
    
    /* comportement quand on clic entre afficher et fermer*/
    .navigation [type="checkbox"]:not(:checked)+div {
        pointer-events: none;
        opacity: 0;
    }
    
    .navigation .login {
        display: flex;
        flex-direction: column;
        font-size: var(--typo--2);
        align-items: center;
    }

    .navigation .login:hover {
        background-color: var(--golden);
        border-radius: 5px;
        cursor: pointer;
    }


    
    @media (max-width: 500px) {
        .navigation .dropdown{
            display: none;
        }
        .navigation {
            position: relative;
        }
    
    }
    
    @media (max-width: 460px) {
        .navigation .menu-action {
            display: none;
        }
    }
    .navigation {
        justify-content: space-between;
    }
    
    
    