/*Mettre la classe dans picture et l'image s'ajuste à son parent*/

.pic-img {
    position: relative;
    display: flex;
}

.pic-img img {
	inset: 0;
	width: 100%;
    height: 100%;
    object-fit: cover;
}