
.trigger {
  appearance: none;
  padding: var(--space-s);
}

.trigger.menu {
  font-size: var(--typo-0);
  color: var(--blanc-casse);
  z-index: 1;
  position: fixed;
  top: -4rem;
  right: -5rem;
}

.trigger.menu::before {
  min-width: 11ch;
  display: block;
}

.trigger.menu:not(:checked)::before {
  content: "x"
}

.trigger.menu:checked::before {
  content: "=";
}