:root {
  --colonne: 30ch;


  /* logo seulement */

	--logo: clamp(130px, 13vw, 500px);
	--logo-petit: clamp(130px, 2vw, 350px);
	--logo-home: clamp(300px, 20vw, 400px);

  --gouttiere: clamp(5px, 3vw, 60px);
  --space-ms: clamp(10px, 20vw, 100px);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.37rem + 0.65vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.65rem + 1.74vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.48rem + 2.61vw), 7.5rem);
  --space-4xl: clamp(8rem, calc(7.3rem + 3.48vw), 10rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.35rem + 0.76vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.58rem + 0.87vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.7rem + 1.52vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.15rem + 1.74vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.39rem + 3.04vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.3rem + 3.48vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.78rem + 6.09vw), 7.5rem);
  --space-3xl-4xl: clamp(6rem, calc(4.61rem + 6.96vw), 10rem);
  
  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.48rem + 2.61vw), 2.5rem);
  --space-xl-3xl: clamp(3rem, calc(1.43rem + 7.83vw), 7.5rem);


  --radius: 3px;
  /*
    --space-xxl:32px;
    --space-xl:24px;
    --space-lg:16px;
    --space-md:12px;
    --space-sm:8px;
    --space-xs:4px;


    --vspace-xxl:clamp(32px, 3.2vw, 64px);
    --vspace-xl:clamp(24px, 2.4vw, 32px);
    --vspace-lg:clamp(16px, 1.6vw, 24px);
    --vspace-md:clamp(12px, 1.2vw, 16px);
    --vspace-sm:clamp(8px, 0.8vw, 12px);
    --vspace-xs:clamp(4px, 0.4vw, 8px);

	--espace-tres-petit: clamp(4px, 0.4vw, 8px);
	--espace-petit: clamp(8px, 0.8vw, 12px);
	--espace-moyen: clamp(12px, 1.2vw, 16px);
	--espace-grand: clamp(16px, 1.6vw, 24px);
	--espace-tres-grand: clamp(24px, 2.4vw, 32px);
	--espace-enorme: clamp(32px, 3.2vw, 64px);*/
}


